body, div, form, p, img, ul, li, h1, h2, h3, h4, h5, h6, dl, dt, dd, textarea {
    line-height: 23px;
    margin: 0;
    padding: 0;
}

body {
	background: #BEBEBE;
	overflow: hidden;
	font-family: 12px/1.5 tahoma,"微软雅黑", arial, simsun, sans-serif;    
	font-size: 75%;
}

a {
	text-decoration: none;
	outline-style:none;
}
#main{
	position: relative;
	display: inline-block;
	width:810px;
	height: 607px;
	box-shadow: 2px 2px 5px 2px #888;
	-moz-box-shadow: 2px 2px 5px 2px #888;
	-webkit-box-shadow: 2px 2px 5px 2px #888;
}
a:hover{
    color: #6699cc;
    cursor: pointer;
}


.lecture, .title, .content {
	position: absolute;
}

.lecture {
	left: 13%;
	top: 30%;
	font-size: 400%;
	color: #f0404e;
	width: 75%;
	height: 38%;
	line-height: 180%;
	text-align:center;
}
.title {
	left: 4%;
	top: 1%;
	font-size: 250%;
	width: 90%;
	height: 10%;
	line-height: 200%;
	text-align: left;
	color: #fff;
}
.theme{
	text-align: center;
	color:#f0404e;
	font-size: 400%;
}

.name{
	text-align: right;
	font-size: 90%;
	padding-right: 10%;
	line-height: 90%;
}

.content {
	left: 5%;
	top: 14%;
	font-size: 200%;
	color: #333;
	width: 85%;
	height: 75%;
	line-height: 200%;
	font-weight: bold;
	text-align: left;
}

.content li {
	line-height: 50px;
	font-size: 100%;
}
.theme-content{
	top:23%;
	width:65%;
	height:60%;
	left:23%;
}
.item{
	border-radius: 20px 45px;
	background: #ccc;
	float: left;
	height: 50px;
	line-height: 50px;
	padding: 0 30px;
	position:absolute;
}
.i1{
	left:230px;
	top:115px;
}
.i2{
	left:152px;
	top:187px;
}
.i3{
	left:300px;
	top:30px;
}
.i4{
	left:320px;
	top:180px;
}
.i5{
	left:32px;
	top:152px;
}
.i6{
	left:56px;
	top:80px;
}
.i7{
	left:373px;
	top:106px;
}
.i8{
	left:185px;
	top:20px;
}
.i9{
	left:15px;
	top:224px;
}
.i10{
	left:325px;
	top:245px;
}
.text{
	font-size: 150%;
	line-height: 180%;
	font-weight: normal;
}
.bold{
	font-weight: bold;
}
.red
{
	color: red;
}
.main-sub{
	padding-top:25%;
	font-size: 300%;
	text-align: center;
}

.title a,.title a:visited{
	color: #fff;
}
.title a:hover{
	color: #ccc;
}
.trans-conver{
	-moz-backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	-o-backface-visibility:hidden;
}
.content a,.content a:visited{
	color:#222;
}
.content a:hover{
	color:#999;
}