body, div, form, p, img, ul, li, h1, h2, h3, h4, h5, h6, dl, dt, dd, textarea {
    line-height: 23px;
    margin: 0;
    padding: 0;
}

body {
	background: #BEBEBE;
	overflow: hidden;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 75%;
}

a {
	text-decoration: none;
	outline-style:none;
}
#main{
	position: relative;
	display: inline-block;
	width:810px;
	height: 608px;
	box-shadow: 2px 2px 5px 2px #888;
	-moz-box-shadow: 2px 2px 5px 2px #888;
	-webkit-box-shadow: 2px 2px 5px 2px #888;
}
a:hover{
    color: #6699cc;
    cursor: pointer;
}


.lecture, .name, .title, .content {
	position: absolute;
}

.lecture {
	left: 13%;
	top: 15%;
	font-size: 400%;
	color: #f0404e;
	width: 75%;
	height: 38%;
	line-height: 180%;
	text-align:center;
}

.name {
	left: 30%;
	top: 75.6%;
	font-size: 220%;
	color: #666;
	width: 50%;
	height: 7%;
	line-height: 200%;
	font-weight: bold;
	text-align: left;
	letter-spacing: 8px;
}

.title {
	left: 17%;
	top: 4%;
	font-size: 250%;
	color: #666;
	width: 75%;
	height: 10%;
	line-height: 200%;
	text-align: left;
	color: #f0404e;
}

.content {
	left: 10%;
	top: 18%;
	font-size: 200%;
	color: #666;
	width: 78%;
	height: 75%;
	line-height: 200%;
	font-weight: bold;
	text-align: left;
}

.content li {
	line-height: 50px;
	font-size: 100%;
}

.text{
	font-size: 150%;
	line-height: 180%;
	font-weight: normal;
}
.bold{
	font-weight: bold;
}
.red
{
	color: red;
}
.main-sub{
	padding-top:25%;
	font-size: 300%;
	text-align: center;
}

.title a{
	color: red;
}