<div class="footer">
    <div class="common">
        <a href="http://www.etao.com/whyetao.html" target="_blank">
            关于一淘
        </a>
        <a href=" http://www.etao.com/law.html?spm=1002.1.0.276" target="_blank">
            免责声明
        </a>
        <a href=" http://www.etao.com/go/act/phone/download.php?spm=1002.1.0.277"
           target="_blank">
            手机一淘
        </a>
        <a href="http://ruyi.etao.com/" target="_blank">
            如意淘
        </a>
        <a href="http://www.tao123.com/" target="_blank">
            淘网址
        </a>
        <a href="http://8.etao.com/yitao/bar-658273-0-14-1-list.htm" target="_blank">
            意见反馈
        </a>
        <a href="http://s.etao.com/help.php" target="_blank">
            帮助中心
        </a>
        <a href="http://job.taobao.com/zhaopin/list.php?q=&amp;division=%E4%B8%80%E6%B7%98&amp;location=&amp;fc=&amp;sc=&amp;tc=&amp;type=&amp;page=1"
           target="_blank">
            诚聘英才
        </a>
        <a href="http://open.etao.com/" class="last-link" target="_blank">
            商家入驻
        </a>
    </div>
    <div class="corp">
        <a href="http://page.china.alibaba.com/shtml/about/ali_group1.shtml" class="corp-name"
           target="_blank">
            阿里巴巴集团 :
        </a>
                <span class="corp-network">
                    阿里巴巴网络
                </span>
                <span class="sep">
                    -
                </span>
        <a href="http://www.alibaba.com/" class="nosplit" target="_blank">
            国际站
        </a>
        <a href="http://china.alibaba.com/" class="nosplit" target="_blank">
            中文站
        </a>
        <a href="http://seller.aliexpress.com/" class="split" target="_blank">
            全球速卖通
        </a>
        <a href="http://www.taobao.com/" class="split" target="_blank">
            淘宝网
        </a>
        <a href="http://www.tmall.com/" class="split" target="_blank">
            天猫
        </a>
        <a href="http://www.etao.com/" class="split" target="_blank">
            一淘
        </a>
        <a href="http://www.aliyun.com/" class="split" target="_blank">
            聚划算
        </a>
        <a href="http://www.aliyun.com/" class="split" target="_blank">
            阿里云
        </a>
        <a href="http://cn.yahoo.com/" class="split" target="_blank">
            中国雅虎
        </a>
        <a href="https://www.alipay.com/" class="last-link" target="_blank">
            支付宝
        </a>
    </div>
    <div class="copyright">
        Copyright &copy; 2010-2012&nbsp;ETAO.COM&nbsp;版权所有
    </div>
</div>