<div class="header">
    <a class="logo" href="#!/home">
        <i class="iconfont">&#482;</i>
        脚手架
    </a>
    <div class="header-right">
        <span>UX，<a style="margin-left:0px" href="javascript:void(0);">退出</a></span>
        <a href="javascript:void(0);"><i class="iconfont">&#349;</i>({{mesNumber}})</a>
        <a href="javascript:void(0);"><i class="iconfont">&#226;</i></a>
        <a href="javascript:void(0);"><i class="iconfont">&#228;</i></a>
        <a href="javascript:void(0);"><i class="iconfont">&#357;</i></a>
    </div>
</div>