<table id="main">
    <tr>
        <td colspan="2">
            <vframe mx-view="app/views/partials/header" id="magix_vf_header"></vframe>
        </td>
    </tr>
    <tr>
        <td id="left">
            <vframe mx-view="app/views/partials/menus" id="magix_vf_menus" ></vframe>
        </td>
        <td id="right">
            <div class="inmain">
                <vframe id="magix_vf_main">
                loading....<!--这里可以放一个loading图片，用于页面间切换时的显示-->
                </vframe>
            </div>
        </td>
    </tr>
</table>
<vframe mx-view="app/views/partials/footer"></vframe>