<!DOCTYPE html>
<html>
<head>
    <meta charset="{+IO.encoding+}" />
    <title>API Document</title>
    <meta name="generator" content="JsDoc Toolkit" />
    <style>
        {+include("static/style.css")+}
    </style>
</head>
<body>
<div id="page">
    {+include("static/header.html")+}
    <div id="content">
        <div class="layout">
            <div class="col-main">
                <div class="main-wrap">
                    <h2 class="classTitle">Uploader</h2>
                    <p>Uploader是一个基于kissy1.2的异步文件上传组件，目前不兼容kissy1.1.6，已经实现ajax、iframe、flash三方案异步上传。</p>

                    <ul class="list detail-list">
                        <li>
                            <b>版本：</b>1.0
                        </li>
                        <li>
                            <b>作者：</b>明河（剑平）、紫英、飞绿
                        </li>
                        <li>
                            <b>感谢：</b>承玉、苏河给予组件的意见
                        </li>
                        <li>
                            <b>demo：</b><a href="http://www.36ria.com/demo/gal/gallery/form/1.0/demo/form/uploader/index.html" target="_blank">Uploader全部demo</a>
                        </li>
                        <li>
                            <b>使用指南：</b><a href="http://www.36ria.com/5041" target="_blank">Uploader快速使用指南</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-sub">
                {+include("static/index_menu.html")+}
            </div>
        </div>
    </div>
    {+include("static/footer.html")+}
</div>
</body>
</html>