<div class="footer mt10">
    <div class="common">
        <a href="http://www.alimama.com/index.htm" target="_blank">
            关于阿里妈妈
        </a>
        <a href=" http://zhitongche.taobao.com/index.html" target="_blank">
            关于直通车
        </a>
        <a href=" http://pro.taobao.com/wtsy/index.htm" target="_blank">
            万堂书院
        </a>
        <a href="http://zhitongche.taobao.com/help/index.action" target="_blank">
            帮助中心
        </a>
        <span>
            客服热线：0571 - 85027118
        </span>
    </div>
    <div class="copyright">
        Copyright &copy; 2003-{{year}}&nbsp;Taobao.com&nbsp;版权所有
    </div>
</div>