<div class="common-left pb15">
	<ul class="topnav">
		<li class="topnav-list">
			<a class="text" href="#!/home">首页</a>
		</li>
		<li class="topnav-list">
			<a href="#" mx-click="toggleSubMenus<prevent>"> <i class="iconfont">&#402;</i> Brix组件展示 </a>
			<ul class="subnav none">
				<li class="subnav-list">
					<a class="text" href="#!/brixes/tip">提示信息</a>
				</li>
				<li class="subnav-list">
					<a class="text" href="#!/brixes/dialog">弹出框</a>
				</li>
				<li class="subnav-list">
					<a class="text" href="#!/brixes/dropdown">下拉框</a>
				</li>
			</ul>
		</li>
		<li class="topnav-list">
			<a href="#" mx-click="toggleSubMenus<prevent>"> <i class="iconfont">&#402;</i> 应用示例 </a>
			<ul class="subnav none">
				<li class="subnav-list">
					<a class="text" href="#!/examples/table-sortable">带排序的表格</a>
				</li>
			</ul>
		</li>
	</ul>
	<div class="service mt15 pt15 ml15 pl5">
		<h3 class="f18 gray">客服支持</h3>
		<ul class="service-list mt15">
			<li>
				热线 0XXX-XXXXXX
			</li>
			<li>
				帮助中心
			</li>
			<li>
				培训中心
			</li>
		</ul>
	</div>
</div>