/**用于magixJS页面default框架的样式**/ * {
    margin: 0;
    padding: 0;
}

body {
    font: 18px / 26px "Lucida Grande", Helvetica, "Microsoft YaHei", Arial, sans-serif;
    background-color: #ebebeb;
}

a img {
    border: 0;
}

#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 20px 0;
    position: relative;
    top: 0;
    left: 0;
}

h1 {
    display: block;
    border-bottom: 2px solid #ACC5CD;
}

h1 a {
    text-decoration: none;
    color: #333;
    display: block;
    width: 334px;
    height: 78px;
}

h1 .logo {
    background: url(sprite_pic.png) no-repeat 0 0;
    width: 334px;
    height: 78px;
    text-indent: -999999px;
    float: left;
}

#menu {
    position: absolute;
    top: 30px;
    right: 0;
    list-style: none;
    text-align: center;
}

#menu li {
    float: left;
    height: 35px;
    overflow: hidden;
}

#menu li a {
    padding-top: 8px;
    text-decoration: none;
    display: block;
    line-height: 35px;
    font: normal 15px "Lucida Grande", Helvetica, "Microsoft YaHei", Arial, sans-serif;
    vertical-align: middle;
}

#menu a:hover {
    text-decoration: underline;
}

#docbtn {
    background: url(sprite_pic.png) no-repeat -491px 0;
    width: 76px;
    height: 35px;
    border-right: 1px solid #265a6d;
    color: #010b0f;
}

#apibtn {
    background: url(sprite_pic.png) no-repeat -339px 0;
    width: 69px;
    height: 35px;
    border-left: 1px solid #5799ae;
    border-right: 1px solid #265a6d;
    color: #fff;
}

#codebtn {
    border-left: 1px solid #5799ae;
    background: url(sprite_pic.png) no-repeat -413px 0;
    width: 73px;
    height: 35px;
    color: #fff;
}
* html {
    background-image: url(about:blank);
    background-color: #ebebeb;
    background-repeat: repeat;
}

#ribbon {
    position: fixed;
    top: 0;
    right: 0;
    _position: absolute;
    _bottom: auto;
    _top: expression(eval(document.documentElement.scrollTop));
}

#ribbon a {
    display: block;
    width: 149px;
    height: 149px;
    background: url(sprite_pic.png) no-repeat -572px 0;
}

#copyright {
    border-top: 1px solid #ACC5CD;
    margin-top: 20px;
    padding-top: 5px;
    color: #848484;
    font: 14px / 1.231 arial, helvetica, clean, sans-serif;
    text-align: center;
}

/**用于嵌入页面的样式**/
h2 {
    clear: both;
    color: #002F46;
    font: normal 18px "Lucida Grande", Helvetica, "Microsoft YaHei", Arial, sans-serif;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 20px;
    height: 20px;
    background: url(listIcon.png) no-repeat 0 10px;
}

h3 {
    font-size: 22px;
}

.sub-menu {
    width: 300px;
    list-style: none;
}

.sub-menu li {
    color: #3D3D3D;
    font: normal 14px "Lucida Grande", Helvetica, "Microsoft YaHei", Arial, sans-serif;
    padding: 5px 0 5px 20px;
    margin-left: 5px;
    background: url(sub-icon.png) center left no-repeat;
}

.sub-menu li a {
    text-decoration: none;
    color: #3D3D3D;
    display: inline-block;
    overflow: hidden;
}

.sub-menu li a:hover {
    color: #357188;
    text-decoration: underline;
}

#api a {
    text-decoration: none;
    color: #002F46;
    font: normal 18px "Lucida Grande", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}

#api a:hover {
    color: #357188;
    text-decoration: underline;
}

p.next-page {
    padding-top: 15px;
    text-align: right;
    font: 15px "Lucida Grande", Helvetica, "Microsoft YaHei", Arial, sans-serif;
    color: #3D3D3D;
}

p.next-page a {
    color: #296981;
    text-decoration: none;
}

p.next-page a:hover {
    text-decoration: underline;
}

/*#disqus_thread {
 margin-top: 30px;
 padding-top: 10px;
 border-top: solid 1px #ccc;
 } what's for?*/
/**用于书写代码的样式**/
.description {
    padding: 10px;
    font: 16px / 26px "Lucida Grande", Helvetica, "Microsoft YaHei", Arial, sans-serif;
    color: #3D3D3D;
}

/*code {
 font-family: "Bitstream Vera Sans Mono", courier, monospace;
 }*/
pre {
    font: 14px / 24px "Bitstream Vera Sans Mono", courier, monospace;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.green {
    background: #E3E3E3 !important;
    border: 1px solid #CCC;
}

.red {
    background: #EBE3E3 !important;
    border: 1px solid #EBB6B6;
}

p.show-demo {
    text-align: center;
    margin-top: 10px;
}

p.show-demo a {
    text-decoration: none;
    color: #3D3D3D;
    font: bold 18px / 26px "Lucida Grande", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}

p.show-demo a:hover {
    text-decoration: underline;
}

/*mvc pic style*/
#show-mvc {
    margin: 0 auto 20px;
    border: 1px solid #ccc;
    padding: 15px 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    width: 580px;
    height: 410px;
    background-color: #E3E3E3;
}

 img {
	display:block;
    border: 1px solid #f4f4f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
